.container {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 76px;
  padding-right: 80px;
  padding-bottom: 86px;
  background-color: #FFFFFF;
  height: 516px;
  width: 539px;
}

.constructor {
  width: 539px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-height: 448px;
  justify-content: space-between;
  align-items: center;
}

.canvas {
  display: block;
  width: 243px;
  height: 448px;
  border: 2px dashed #C4C4C4;
  border-radius: 6px;
  background-color: FFFFFF;
  position: relative;
}

.canvas__instruction {
  position: absolute;
  margin: 182px 58px;
}

.instruction {
  display: flex;
  flex-direction: column;
  width: 130px;
  align-items: center;
  text-align: center;
}

.instruction__pull-acon {
  margin-bottom: 12px;
}

.instruction__title {
  color: #5D5FEF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.instruction__text {
  color: #6B7280;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

